{% extends "jr_catalogue.html" %}


    {% block catalogue_view %}
        <div class="catalogue_view">
        {% block order_form %}
            Ваша корзина:
        {% endblock %}
        </div>

    {% if items %}

        <ul>
        {% for item in items %}
            <li>
            {% if item.part_of_suite %}
            ----
            {% endif %}

                <img src="{{item.thumbnail}}"> 
                <a href="{{item.get_absolute_url}}">{{item.name}}</a> 

                ({{item.j_type}}{% if item.size %}, {{item.size}}{% endif %})
                {{item.gems}} {{item.metal}} {{item.price}} р.

        {% block suppress_cart_actions %}
            {% if not item.part_of_suite %}
                <a href="/cart/remove/{{item.number}}">(удалить)</a>
            {% endif %}
        {% endblock %}

        {% endfor %}
        </ul>

        {% block suppress_cart_actions_2 %}
        <br><a href="order/">заказать</a> <a href="clear/">очистить корзину</a>
        {% endblock %}

    {% else %}

        Коризна пока пуста.

    {% endif %}

    {% endblock %}