{% extends "jr_testmain.html" %}

{% block content_area %}
<div>

<!-- Here Galleriffic (more below) -->

		<div id="page">
			<div id="container">

				<!-- Start Advanced Gallery Html Containers -->
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
						{% if item.image_one_thumb %}
							<a class="thumb" name="First thumbnail" href="{{ item.image_one.url }}" title="First thumbnail">
								<img src="{{ item.image_one_thumb.url }}" alt="First photo" />
							</a>							
						{% else %}
							<a class="thumb" name="First thumbnail" href="/images/special/placeholder3.jpg" title="First thumbnail">
								<img src="/images/special/placeholder1.jpg" alt="First photo" />
							</a>
						{% endif %}
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc"></div>
							</div>
						</li>

						{% if item.image_two_thumb %}
						<li>
							<a class="thumb" name="Second thumbnail" href="{{ item.image_two.url }}" title="Second thumbnail">
								<img src="{{ item.image_two_thumb.url }}" alt="Second photo" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc"></div>
							</div>
						</li>
						{% endif %}

						{% if item.image_three_thumb %}
						<li>
							<a class="thumb" name="Third thumbnail" href="{{ item.image_three.url }}" title="Third thumbnail">
								<img src="{{ item.image_three_thumb.url }}" alt="Third photo" />
							</a>
							<div class="caption">
								<div class="image-title"></div>
								<div class="image-desc"></div>
							</div>
						</li>
						{% endif %}

					</ul>
				</div>

				<div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>

<!-- End Galleriffic (more below) -->

<p style="margin: 0 0 25px; font-size: 1.4em; font-family: Georgia, 'Times New Roman', serif; color: #4c0707; text-align:center;"><span style="font-size:0.75em;">{{ item.j_type }} </span>{{ item.name }}</p>

<div class="clearfix">
<div class="item_desc">
    <div>
    <p>Металл: <span>{{ item.metal }}</span> 
    {% if item.gem_summary %}<p>Вставка: <span>{{ item.gem_summary }}</span>{% endif %}
    <p>Цена: <span>{{ item.price }} р.</span>
    </div>

    <form id="jr_id" name="jr_id" action="" method="post">{% csrf_token %}
        {% if item.j_type_eng = 'ring' %}
        <div class="field ring_size">
            {{ form.size.errors }}
            <label for="id_size">Размер:</label>
            {{ form.size }}
        </div>
        {% endif %}

        <input type="submit" value="Добавить в корзину" id="to_cart_button" class="css_button">    
    </form>
</div>
<div style="text-indent: 1.5em; padding: 0 0 15px; border-bottom: 1px dashed #000;">
<p>{{ item.site_description }} ipsum lorem repeated several times creates a larger text field which is quite suitable for the purposes of testing web page layouts. 
<p> But wait! There is still more to that than appears to the eye. We are not finished yet.
<p> You thought we are?
<p> No way. In fact, we need more longer sentences to get the feeling of what this layout could look like in a realistic environment.
</div>
</div>

<div style="padding: 15px 0;">
<p>Закажите по телефону сейчас <span style="font-weight:bold;">+7 905 5555555</span> или добавьте в корзину.
</div>

    {% if results %}
    <div style="border-top: 1px dashed #000; padding: 15px 0 0;">
        <p>В комплекте с этим изделием:</p>
            {% for item in results %}
                <a href="{{item.get_absolute_url}}">
                    <div style="float:left; width:101px; padding: 15px 5px 0 5px; height:166px; text-align: center; overflow:hidden;">
                        <img src="{{ item.thumbnail }}">
                        <p style="color: #240000; font-family:Georgia, 'Times New Roman', serif; font-size:0.6em;">{{ item.j_type }}</p>
                        <p style="color: #240000; font-family:Georgia, 'Times New Roman', serif; font-size:0.75em;">"{{ item.name }}"</p>
                        <p style="color: #240000; font-family:Georgia, 'Times New Roman', serif; font-size:1.1em; font-style:italic;">{{ item.price }} <span style="font-size:0.8em;">р.</span></p>
                    </div>
                </a>
            {% endfor %}
    </div>

    {% endif %}


</div>

<!-- Here Galleriffic try (second part) -->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '300px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});				

				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            false,
					enableBottomPager:         false,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          false,
					renderNavControls:         false,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>

<!-- End Galleriffic try (second part) -->
{% endblock %}