{% extends "jr_catalogue.html" %}

{% block catalogue_view %}<div class="catalogue_view">

<p>
<div style="float:left">{% if item.image_three %}<img src="{{ item.image_three.url }}">{% else %}<img src="/images/special/placeholder3.jpg">{% endif %}</div>
<p> <img src="{{ item.thumbnail }}">
<p>{% if item.image_two %}<img src="{{ item.image_two.url }}">{% else %}<img src="/images/special/placeholder2.jpg">{% endif %}
<br style="clear:left">

<p style="text-align:center"> <strong>{{ item.name }}</strong>
<p> {{ item.j_type }} 
        ({{ item.metal }}, 
        {{ item.gem_summary }})
<p>Металл: {{ item.metal }}, вставка: {{ item.gem_summary }}
<p>Цена: {{ item.price }}
<br>
<br>
<br>
<p>{{ item.site_description }}
<br>
<br>
<br>
<hr>

<p>Закажите по телефону сейчас +7 905 5555555 или {% load jr_cart %}{% add_to_cart item.id item.j_type_url%}

</div>{% endblock %}