{% extends "jr_catalogue.html" %}

{% block catalogue_view %}

<script language="javascript">
function init() {
document.getElementById('id_gender').setAttribute("type", "hidden");
document.getElementById('id_gender').value = "F"
document.jr_advanced_search.j_type.options.length = 1;
document.jr_advanced_search.j_type.options[1]=new Option("Гарнитур", "suite", false, false);
document.jr_advanced_search.j_type.options[2]=new Option("Цепочка", "chainlet", false, false);
document.jr_advanced_search.j_type.options[3]=new Option("Браслет", "bracelet", false, false);
document.jr_advanced_search.j_type.options[4]=new Option("Кольцо", "ring", false, false);
document.jr_advanced_search.j_type.options[5]=new Option("Серьги", "earring", false, false);
document.jr_advanced_search.j_type.options[6]=new Option("Колье", "necklace", false, false);
document.jr_advanced_search.j_type.options[7]=new Option("Заколка", "barrette", false, false);
}
window.onload = init

function setSearchOptions(idElement){
	tot_tab = 4;
	tab = document.getElementById('tab'+idElement);
	search_option = document.getElementById('id_gender');
	document.jr_advanced_search.j_type.options.length = 1;
	for(i=1; i<=4; i++){
		if(i==idElement){
			tab.setAttribute("class","selected");
			switch(i){
				case(i=1): 
				search_option.value="F";
				document.jr_advanced_search.j_type.options[1]=new Option("Гарнитур", "suite", false, false);
				document.jr_advanced_search.j_type.options[2]=new Option("Цепочка", "chainlet", false, false);
				document.jr_advanced_search.j_type.options[3]=new Option("Браслет", "bracelet", false, false);
				document.jr_advanced_search.j_type.options[4]=new Option("Кольцо", "ring", false, false);
				document.jr_advanced_search.j_type.options[5]=new Option("Серьги", "earring", false, false);
				document.jr_advanced_search.j_type.options[6]=new Option("Колье", "necklace", false, false);
				document.jr_advanced_search.j_type.options[7]=new Option("Заколка", "barrette", false, false);
				break
				case(i=2): 
				search_option.value="M";
				document.jr_advanced_search.j_type.options[1]=new Option("Цепочка", "chainlet", false, false);
				document.jr_advanced_search.j_type.options[2]=new Option("Браслет", "bracelet", false, false);
				document.jr_advanced_search.j_type.options[3]=new Option("Кольцо", "ring", false, false);
				document.jr_advanced_search.j_type.options[4]=new Option("Запонки", "cufflink", false, false);
				document.jr_advanced_search.j_type.options[5]=new Option("Зажим для галстука", "tieclip", false, false);
				break
				case(i=3): 
				search_option.value="C";
				document.jr_advanced_search.j_type.options[1]=new Option("Цепочка", "chainlet", false, false);
				document.jr_advanced_search.j_type.options[2]=new Option("Браслет", "bracelet", false, false);
				document.jr_advanced_search.j_type.options[3]=new Option("Кольцо", "ring", false, false);
				document.jr_advanced_search.j_type.options[4]=new Option("Заколка", "barrette", false, false);
				break
				case(i=4): 
				search_option.value="U";
				break
			}


		} else {
			document.getElementById('tab'+i).setAttribute("class","");
		}

	}
}
</script>

<div class="catalogue_view">

<ul class="search-options">
    <li id="tab1" class="selected"><a href="#" onclick="javascript:setSearchOptions(1);">Для женщин</a></li>
    <li id="tab2"><a href="#" onclick="javascript:setSearchOptions(2);">Для мужчин</a></li>
    <li id="tab3"><a href="#" onclick="javascript:setSearchOptions(3);">Для детей</a></li>
    <li id="tab4"><a href="#" onclick="javascript:setSearchOptions(4);">Уни</a></li>
</ul>
<br>
<br>

<div style="border-style:solid; border-width:1px; border-color: #000050; width:332;">
<form id="jr_advanced_search" name="jr_advanced_search" action="" method="get">
            {{ form.errors }}
        <div class="field">
            {{ form.j_type.errors }}
            <label for="id_j_type">Тип:</label>
            {{ form.j_type }}
        </div>
        <div class="field">
            {{ form.gem.errors }}
            <label for="id_gem">Вставка:</label>
            {{ form.gem }}
        </div>
        <div class="field">
            {{ form.price_min.errors }}
            {{ form.price_max.errors }}
            <label for="id_price_min">Цена от</label> {{ form.price_min }} <label for="id_price_max">до</label> {{ form.price_max }}
        </div>

        {{form.gender}}

        <input type="submit" value="Найти">    

</form>
</div>


</div>
{% endblock %}


