{% extends "jr_testmain.html" %}
{% block content_area %}

    {% if results.object_list %}

        <div class="clearfix">
        {% for item in results.object_list %}
                <a href="{{item.get_absolute_url}}" style="">
                    <div style="float:left; width:101px; padding: 15px 5px 0 5px; height:166px; border-bottom:1px dashed; text-align: center; overflow:hidden;">
                        <img src="{{ item.thumbnail }}">
                        <p style="color: #240000; font-family: Georgia, 'Times New Roman', serif; font-size:0.6em;">{{ item.j_type }}</p>
                        <p style="color: #240000; font-family: Georgia, 'Times New Roman', serif; font-size:0.75em;">"{{ item.name }}"</p>
                        <p style="color: #240000; font-family: Georgia, 'Times New Roman', serif; font-size:1.1em; font-style:italic;">{{ item.price }} <span style="font-size:0.8em;">р.</span></p>
                    </div>
                </a>
        {% endfor %}
        </div>

        <div class="pagination">
           <span class="step-links">
               {% if results.has_previous %}
                   <a href="?page={{ results.previous_page_number }}">previous</a>
               {% endif %}

               <span class="current">
                   Page {{ results.number }} of {{ results.paginator.num_pages }}.
               </span>

               {% if results.has_next %}
                   <a href="?page={{ results.next_page_number }}">next</a>
               {% endif %}
           </span>
       </div>

    {% else %}
        <p> No search results! </p>

    {% endif %}
	
{% endblock %}